:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-flow: column wrap;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.searchContainer {
  width: 230px;
}

#searchBox {
  padding: 4px;
  font-size: 20px;
  border: none;
  padding-left: 35px;
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
}

.searchContainer input[type='text'] {
  padding-left: 24px; /* Adjust the padding to leave space for the icon */
  background-image: url('./images/searchicon.svg'); /* Path to your search icon */
  background-size: 32px; /* Adjust the size of the icon */
  background-repeat: no-repeat; /* Ensure the icon is not repeated */
  background-position: 0px center; /* Adjust the position of the icon */
}

.weatherDataContainer {
  margin: 25px;
  border-right: 1px solid gray;
  border-bottom: 2px solid gray;
  width: 400px;
  height: 200px;
  background: linear-gradient(135deg, #ad36cb 20%, #333333 69%);
  border-radius: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr fit-content(1fr) 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  justify-items: center;
  grid-template-areas:
    'header main2 main2'
    'main main2 main2'
    'footer footer2 footer3';
}

.minTemp,
.maxTemp {
  font-size: 14px;
  grid-area: minTemp maxTemp;
  margin: 0 auto;
}
.minTemp {
  color: rgb(200, 200, 200);
}

.headerLocation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 55%;
  grid-template-columns: 30%;
  grid-template-areas:
    'location location'
    'mintemp maxTemp';
}

.location {
  grid-area: location;
  margin: 0 auto;
}

#locationpin-icon {
  position: relative;
  top: 2px;
  right: 3px;
}

.mainDate {
  grid-area: main;
  text-decoration: underline;
  font-size: 20px;
  place-self: center;
}

.mainCurrentTemp {
  grid-area: main2;
  place-self: center;
  margin-right: 80px;
  margin-top: 25px;
}

.currentTemp {
  font-weight: 400;
  font-size: 48px;
  margin: 0 auto;
}

#thermometer-icon {
  width: 16px;
  height: auto;
  position: relative;
  top: 62px;
  right: 24px;
}

#weather-icon {
  position: relative;
  bottom: 62px;
  left: 108px;
}

.humidity {
  grid-area: footer;
  display: grid;
  grid-template-rows: 60%;
  grid-template-areas:
    'humidity'
    'data';
  place-items: center;
}

.precipitation {
  grid-area: footer2;
  display: grid;
  grid-template-rows: 60%;
  grid-template-areas:
    'precipitation'
    'data';
  place-items: center;
}

.wind {
  grid-area: footer3;
  display: grid;
  grid-template-rows: 60%;
  grid-template-areas:
    'wind'
    'data';
  place-items: center;
}

/* Add these styles to create a simple spinning animation */
.loading-container {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it appears on top of other elements */
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
